/* ----------------------------------------------------------------- */
//                                        
// General Nav style                                            
// 
/* ------------------------------------------------------------------*/

.menu {
	position: relative;
	background: $top-nav;
	font-family: 'Oswald', sans-serif;
	height: 55px;
	width: 100%;
}

.menu.on {
	.nav-top {
		right: 54px;
		transition: right 0.5s ease-in-out 0s;
		// box-shadow: 0 2px 5px rgba($dark-grey, .7);
	}
}


.nav {
	font-size: 0; // fixed white-space of child inline-block
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-top {
	top: 0;
	display: block;
	right: -100%;
	// top: 54px;
	width: calc(100% - 54px);
	height: auto;
	position: absolute;
	transition: right 0.5s ease-out 0s;
	// background-color: white;

	li {
		font-size: 12px; // set font-size back
		display: inline-block;
		height: 100%;
		width: 25%;
		background-color: rgba(#000, .4);
		border-right: 1px solid rgba(white, .25);
		&:first-child {
			border-left: 1px solid rgba(white, .25);
		}
	}

	a {
		display: block;
		color: rgba($white, .8);
		text-decoration: none;
		line-height: 4.5;
		outline: none;
		&:hover {
			background: lighten($top-nav, 5%);
			color: $white;
		}
		&:focus {
			outline: none;
		}
		&:last-child {
			box-shadow: none;
		}
	}

	@media (min-width: 620px) {
		top: 0;
		right: 0;
		width: 100%;
		// transition: all 0.5s ease-out 0s;
		position: absolute;
		z-index: 999;
		display: block;

		li {
			display: inline-block;
			border-bottom: none;
			width: auto;
		}

		a {
			background: $top-nav;
			color: rgba($white, .8);
			width: 80px;
			display: block;
		}
	}

}

