---
layout: default
title: Faisol's Portfolio site.
head: Faisaul Jeaumar
description: "[ Front-End | Web Designer ]"
avartar: me.gif
---

{% include header.html %}

{% include hello.html %}

{% include work.html %}

{% include about.html %}

{% include skill.html %}

<section class="home posts">
  <h2>Blog Posts</h2>
  {% for post in site.posts %}
    <article><time>{{ post.date | date_to_string }}</time> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></article>
  {% endfor %}
</section>

{% include footer.html %}
