<section class="sec shadow-lg align-center" id="about">
	
	<div class="container">

		<div class="row">
			<div class="col-12">
				<div class="profile-img">
					<img class="bd-sm-dark circle" src="img/{{page.avartar}}" alt="">
				</div>
			</div>
		</div>
		<!-- End Profile img -->

		<div class="timeline-wrap">
			
<!-- 			<h2 class="header-text">[ About Myselft ]</h2> -->
	
			<div class="row timeline-content animations">
				
				<div class="time-block round-sm">
					<div class="circle-point"></div>
					<div class="text-content">
						<h3>HELLO !</h3>
						<p class="text">
							<strong>I'm Web / Graphic designer.</strong>
							I have special skill in Coding, Web/UI Design, Graphic Design, Illustrator, Video Editor & 3D Animation. I can integrade all of my skill to build a website or hybride mobile app.
						</p>
					</div>
				</div>
				<div class="time-block round-sm">
					<div class="circle-point"></div>
					<div class="text-content">
						<h3>Experience</h3>
						<ul class="text">
							<li>Worked with graphic designer and App developer for Suksapan 1 year from April-20 – May-02</li>
							<li>Seminar with lighting and animating for 3 monts</li>
							<li>Training with CreativeMax studio as 3D artist 4 months from Dec-2013 - April-2014</li>
						</ul>
					</div>
				</div>
				<div class="time-block round-sm">
					<div class="circle-point"></div>
					<div class="text-content">
						<h3>Front-End Skill</h3>
						<ul class="text">
							<li><div class="row">
								<span class="col-5">Html5
								/Css3</span><span class="col-7 rating" data-rating="4 of 5">☆☆☆☆☆</span>
							</div></li>
							<li>
								<div class="row">
									<span class="col-5">Sass</span><span class="col-7 rating" data-rating="4 of 5">☆☆☆☆☆</span>
								</div>
							</li>
							<li>
								<div class="row">
									<span class="col-5">Java Script</span><span class="col-7 rating" data-rating="3 of 5">☆☆☆☆☆</span>
								</div>
							</li>
							<li>
								<div class="row">
									<span class="col-5">jQuery</span><span class="col-7 rating" data-rating="3 of 5">☆☆☆☆☆</span>
								</div>
							</li>
							<li>
								<div class="row">
									<span class="col-5">AngularJS</span><span class="col-7 rating" data-rating="2 of 5">☆☆☆☆☆</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="time-block round-sm">
					<div class="circle-point"></div>
					<div class="text-content">
						<h3>Graphic Skill</h3>
						<ul class="text">
							<li>
								<div class="row">
									<span class="col-5">Photoshop</span><span class="col-7 rating" data-rating="4 of 5">☆☆☆☆☆</span>
								</div>
							</li>
							<li>
								<div class="row">
									<span class="col-5">Illustrator</span><span class="col-7 rating" data-rating="4 of 5">☆☆☆☆☆</span>
								</div>
							</li>
							<li>
								<div class="row">
									<span class="col-5">Flash</span><span class="col-7 rating" data-rating="2 of 5">☆☆☆☆☆</span>
								</div>
							</li>
							<li>
								<div class="row">
									<span class="col-5">After Effect</span><span class="col-7 rating" data-rating="3 of 5">☆☆☆☆☆</span>
								</div>
							</li>
							<li>
								<div class="row">
									<span class="col-5">Autodesk Maya</span><span class="col-7 rating" data-rating="4 of 5">☆☆☆☆☆</span>
								</div>
							</li>
							<li>
								<div class="row">
									<span class="col-5">Cinema4D</span><span class="col-7 rating" data-rating="2 of 5">☆☆☆☆☆</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="skill-lockup">
			
		</div>
	</div>

</section>