<section class="sec about align-center">
	
	<div class="container">

		<h2>About Myselft</h2>
		<div class="divine"></div>
		<div class="row">
			<div class="sec-icon">
				<div class="icon-img">
					<img src="/img/pc.png" alt="">
				</div>
				<div class="icon-img">
					<img src="/img/design.png" alt="">
				</div>
			</div>
			<div class="sec-icon">
				<div class="profile-img">
					<img class="bd-sm shadow-sm" src="/img/profile-img.jpg" alt="">
				</div>
			</div>
			<div class="sec-icon">
				<div class="icon-img">
					<img src="/img/dev.png" alt="">
				</div>
				<div class="icon-img">
					<img src="/img/code.png" alt="">
				</div>
			</div>
		</div>
		
		<div class="row text-block">
			<p class="text">
				<strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong> Harum, neque nam placeat quaerat dolores pariatur dolorem nobis fuga reprehenderit! Ad excepturi perferendis molestias delectus consectetur numquam illo deleniti dolore ex est, commodi necessitatibus hic reprehenderit, unde praesentium provident dolor vel facilis tempore id velit quae. Doloremque a dolor id voluptas consequuntur sit ullam officia, blanditiis deserunt facilis velit sapiente pariatur, hic incidunt architecto porro illo accusantium tempora, rerum magni officiis consequatur modi eveniet iure nihil! Nulla esse laudantium dolorem aut impedit accusamus facere nesciunt reprehenderit id tempora nihil, laborum doloribus fugiat quibusdam autem omnis nam odio soluta ea! Fugiat, atque.
			</p>

			<p class="text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut assumenda reiciendis placeat modi, quibusdam dolorum nobis labore officiis, sint voluptatem.
			</p>

		</div>
		
		<div class="skill-lockup">
			
		</div>
	</div>

</section>