<section class="sec smoke-bg shadow-lg align-center">
	
	<div class="container">

		<div class="row">
			<div class="col-12">
				<div class="profile-img">
					<img class="bd-sm-dark circle" src="/img/profile-img.jpg" alt="">
				</div>
			</div>
		</div>
		<!-- End Profile img -->

		<div class="content-block">
			<div class="v-line-block row">
				<h2 class="header-text round-sm">About Myselft</h2>
			</div>
			
			<div class="row text-block">
				<div class="time-block">
					<h3>HELLO !</h3>
					<p class="text">
						<strong>I'm Web / Graphic designer</strong> Harum, neque nam placeat quaerat dolores pariatur dolorem nobis fuga reprehenderit! Ad excepturi perferendis molestias delectus consectetur numquam illo deleniti dolore ex est, commodi necessitatibus hic reprehenderit, unde praesentium provident dolor vel facilis tempore id velit quae. Doloremque a dolor id voluptas consequuntur sit ullam officia, blanditiis deserunt facilis velit sapiente pariatur, hic incidunt architecto porro illo accusantium tempora, rerum magni officiis consequatur modi eveniet iure nihil! Nulla esse laudantium dolorem aut impedit accusamus facere nesciunt reprehenderit id tempora nihil, laborum doloribus fugiat quibusdam autem omnis nam odio soluta ea! Fugiat, atque.
					</p>
				</div>
				<div class="time-block">
					<h3>Experience</h3>
					<ul class="text">
						<li>Worked with Graphic designer for Company 2 year from April-20 – May-02</li>
						<li>Seminar with Lighting and Animating for 3 monts</li>
						<li>Training with Company 1 as 3D artist 4 months from Dec-2013 - April-2014</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="skill-lockup">
			
		</div>
	</div>

</section>