<header class="top-header align-center">
	
<div class="top-nav shadow-s">
	<div class="logo">{% include icons/logo.html %}</div>
	
	<nav>
		<ul class="nav right hide-sm">
			<a href="#about">
				<li>About me</li>
			</a>
			<a href="#work">
				<li>Work</li>
			</a>
			<a href="#client">
				<li>Client</li>
			</a>
			<a href="#contact">
				<li>Contact</li>
			</a>
		</ul>
	</nav>
</div>

	<div class="text-hero align-verticle">
		<h1>Artists Theme</h1>
	</div>
	<p class="kicker">Thinker // Designer // Youtuber</p>

</header>