<header class="hero-header align-center">
	
	<div class="top-nav">
		<nav id = "menu-top" class="menu shadow-sm">
			<ul class="nav">
				<a href="#about">
					<li>About me</li>
				</a>
				<a href="#work">
					<li>Work</li>
				</a>
				<a href="#client">
					<li>Client</li>
				</a>
				<a href="#contact">
					<li>Contact</li>
				</a>
			</ul>
			<button class="toggle-btn right hide-lg" data-target="#menu-top" data-toggle="on">
			  	<span>toggle menu</span>
			</button>
		</nav>
	</div>

	<div class="text-hero">
		<h1 class="bd-sm-white">{{ page.head }}</h1>
	</div>
	<p class="kicker">{{ page.description }}</p>

</header>