
<section class="sec align-center bg-smoke" id="hello">
	
	<div class="container">

		<div class="row">
			<div class="col-12">
				<div class="profile-img">
					<img class="bd-sm-dark circle" src="img/{{page.avartar}}" alt="">
				</div>
			</div>
		</div>
		<!-- End Profile img -->

		<div class="row">
			<div class="col-8-middle">
				<p class="text text-main"><strong>I'm Web / Graphic designer.</strong>I have special skill in Coding, Web/UI Design, Graphic Design, Illustrator, Video Editor & 3D Animation. I can integrade all of my skill to build a website or hybride mobile app.</p>
			</div>
		</div>

	</div>

</section>