#about {
	height: 220px;
	position: relative;

	h3 {
		margin: 0;
	}



	@media (min-width: 620px) {
		height: 400px;

		.fa-code,
		.fa-cubes {
			font-size: 3.2em;
		}
	}
}

.bg-slash {
	display: block;
	position: absolute;
	top: 0;
	left: -20%;
	// float: left;
	background-color: #ADE1E1;
	width: calc(50% + 20%);
	height: 100%;
	transform: skew(30deg);
	&#{-r} {
		@extend .bg-slash;
		left: auto;
		right: -20%;
		background-color: #eee;
	}
}

.block-icon {
	transform: skew(-30deg);
	margin-left: 20%;
	&#{-r} {
		transform: skew(-30deg);
		margin-right: 20%;
	}	
}