.about {
	background: lighten($smoke, 13%);
}

.profile-img {
	img {
		width: 30%;
		padding: .5em;
	}
}

.sec-icon {
	@include media($mobile) {
		@include span-columns(4);
	}
	@include span-columns(4);
}