html {
	height: 100%;
	min-width: 320px;
	font-family: sans-serif;
}

body {
	font-family: sans-serif;
	min-height: 100%;
	position: relative;
	background-color: $default-bg;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Oswald', sans-serif;
	color: $dark-grey;
	&::selection {
		background-color: #e18728;
		color: $white;
	}
}