/*---------------------------------*/

.top-header {
	height: 550px;
	background:url(/img/top-bg.jpg) no-repeat;
	background-position: 0 0;
	background-size: cover;
	.logo > img {
		width: 54px;
		height: 54px;
		float: left;
		padding: .5em;
	}
	// overlay bg-header.
	// &:before {
	// 	display: block;
	// 	content: "";
	// 	background: linear-gradient(to top, rgba($deep-blue, .5)1%, rgba($default-bg, .2)60%);
	// 	position: absolute;
	// 	z-index: 1;
	// 	width: 100%;
	// 	height: 550px;
	// }
	// can't place here because JS can't manipulate shadow DOM.
	// &:after {
	// 	display: block;
	// 	content: " ";
	// 	background:url(/img/top-bg.jpg) no-repeat;
	// 	background-position: 0 0;
	// 	background-size: cover;
	// 	width: 100%;
	// 	height: 550px;
	// 	position: absolute;
	// 	z-index: -2;
	// 	top: 0;
	// }
}

.top-nav {
	font-family: 'Oswald';
	height: 3.4em;
	background-color: $brand-color;
	li {
		font-size: 12px; // set font-size back
	}
	a {
		color: rgba($white, .6);
		padding: 17.5px;
		text-transform: uppercase;
		font-weight: 700;
		&:hover {
			background: lighten($brand-color, 5%);
			color: $white;
		}
	}
}

.text-hero {
	@media (min-width: 481px) {
		font-size: 2.8em;
		margin: 1.5em auto 0;
		width: 55%;
	}
	font: {
		size: 1.2em;
	}
	text-transform: uppercase;
	color: $dark-grey;
	letter-spacing: 0.05em;
	// border: 5px solid rgba(#333, .6);
	width: 88%;
	margin: 3.5em auto 0;
	h1 {
		margin: auto;
	}

}

.kicker {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: rgba($dark-grey, .7);
	line-height: 1rem;
	margin: 0;
}