$mobile: new-breakpoint(max-width 768px 4);

.container {
	@include media($mobile) {
		@include outer-container(92%);	
	}
	@include outer-container(80%);
}

.row {
	@include row();
}

.col-3 {
	@include span-columns(3);
	@include media ($mobile) {
		@include span-columns(4);
	}
	position: relative;
	margin: 0;
	width: 25%;
}

.col-5 {
	@include span-columns(5);
}

.col-7 {
	@include span-columns(7);
}

.col-6 {

	@include media ($mobile) {
		@include span-columns(4);
	}
	@include span-columns(6);
	@media (max-width: 640px) and (orientation: landscape) {
		@include span-columns(6);
	}
}

.col-6-r {
	@include media ($mobile) {
		@include span-columns(4);
	}
	@include span-columns(6);
	@include shift(6);
}

.col-12 {
	@include media ($mobile) {
		@include span-columns(4);
	}
	@include span-columns(12);
}