.sec-header {
	margin-top: 3em;
	position: relative;
}

.verticle-line {
	position: absolute;
	width: 0;
	height: 100%;
	left: 50%;
	top: 50px;
	border: 2px solid #e1e0df;
}

.circle {
	border-radius: 50%;
}

.header {
	display: inline-block;
	padding: .5em 2em;
	margin: 0;
	background-color: rgba($dark-grey, .1);
}

.wrapper {
	height: 100%;
}

.sec {
	position: relative;
	padding: 5em 0;
}

.nav {
	font-size: 0; // fixed white-space of child inline-block
	margin: 0;
	padding: 0;
	list-style: none;
	a {
		display: inline-block;
		text-decoration: none;
	}
}

.hide-sm {
	@media (min-width: 620px) {
		display: block;
	}
	display: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.align-center {
	text-align: center;
}

.shadow-sm {
	box-shadow: 0 1px 2px rgba($dark-grey, .5);
}

.shadow-lg {
	box-shadow: 0 4px 20px rgba($dark-grey, .3);
}

.text-shadow-s {
	text-shadow: 0 1px 0 $dark-grey;
}

.text {
	font-family: 'nunito';
	letter-spacing: .02em;
	color: rgba($dark-grey, .7);
	text-align: justify;
}

.bd-sm {
	border: 3px solid rgba($white, .1);
}

.bd-sm-pink {
	border: 4px solid rgba($deep-pink, .7);
}

.bd-md-dash {
	border: 4px dashed rgba(#000, .7);
}

.bd-sm-dark {
	border: 1px solid rgba($dark-grey, .4);
}

.round-sm {
	border-radius: 6px;
}

.divine {
	height: 0;
	width: 80%;
	border: .05px solid rgba($dark-grey, .1);
	margin: 3em auto;
}

.text-block {
	margin: 5.2em 0;
}


