.block {
	display: block;
	margin-bottom: .3em;
}

.bg-smoke {
	background-color: #F5F2ED;
}

.bg-dark {
	background-color: #3b3a36;
}

.wrap {
	position: relative;
}

.h-grey {
	color: tint(grayscale($dark-grey), 10%);
}

.card {
	// padding: 1.5em;
	border-top: 1px solid rgba(#000, .1);
	box-shadow: 0 2px 2px 0 rgba($dark-grey, .3),
				0 4px 2px 0 rgba($dark-grey, .1);
}

.circle {
	border-radius: 50%;
}

.header-text {
	color: $dark-grey;
	display: inline-block;
	margin-bottom: 1em;
	&:after {
		display: block;
		position: absolute;
		content: "";
		height: 1px;
		width: 44px;
		background-color: rgba($dark-grey, .2);
		left: 50%;
		margin-left: -22px;
		top: 64px;
	}
}

.wrapper {
	height: 100%;
}

.hide-sm {
	@media (min-width: 620px) {
		display: block;
	}
	display: none;
}

.hide-lg {
	@media (min-width: 620px) {
		display: none;
	}
	display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}


.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.shadow-sm {
	box-shadow: 0 1px 2px rgba($dark-grey, .3);
}

.shadow-md {
	box-shadow: 0 2px 10px rgba($dark-grey, .3);	
}

.shadow-lg {
	box-shadow: 0 4px 20px rgba($dark-grey, .3);
}

.text-shadow-s {
	text-shadow: 0 1px 0 $dark-grey;
}

.bd-sm-white {
	border: 1px solid rgba($white, .4);
}

.bd-sm-dark {
	border: 1px solid rgba($coal, .4);
}

.round-sm {
	border-radius: 6px;
}

