$white: #fff;
$dark-grey: #333;
$old-paper: #ddd7b5;
$deep-blue: #25262a;
$light-grey: #bbb;
$smoke: #d6d5cf;
$deep-pink: #ff3264;
$coal: #4a4a4a;
$old-yellow: #f5c777;

$default-bg: $old-paper;
$brand-color: $old-yellow;
$h-font: $dark-grey;