$white: #fff;
$dark-grey: #333;
$old-paper: #ddd7b5;
$light-grey: #bbb;
$smoke: #d6d5cf;
$deep-pink: #ff3264;
$coal: #4a4a4a;
$old-yellow: #fce270;
$chocolate: #4a1100;
$cyan: #7bc3be;
$ocean: #84a0a7;
$purple: #ba8ea7;
$pastel-blue: #7b90c3;
$red-peach: #ce636e;

$default-bg: #eee;
$hero-bg: $pastel-blue;
$top-nav: $red-peach;
$brand-color: $old-yellow;
$h-font: $dark-grey;
$text-hero: #f3f3f3;
$text: $chocolate;